<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chenn.entertainmentandplacessearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDS-aqm04-v8E3_N5DdFl7Kk57D7EPx_uU"/>

        <activity
            android:name=".MainActivity"
            android:label="Places Search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".displayresultsAcitivity"
            android:label="Search results"
            />
        <activity
            android:name=".detailsofplaceAcitivity"
            android:label="@string/title_activity_detailsofplace_acitivity"
            android:theme="@style/AppTheme.NoActionBar"
           ></activity>
    </application>

</manifest>